* {
  margin: 0;
  padding: 0;
}

body {
    padding: 1rem;
}

form > * {
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
}

li > * {
  margin: 0.5rem;
  width: 33%;
}

button {
  width: 10%;
}
input {
  margin-left: 25px;
}